.graph-container{
    height:100%;
    width: 70%;
    box-sizing: border-box;
    float: left; 
    margin-right: 2%;
    margin-bottom: 20px;
}
.btn-container{
    display: table-cell; 
    vertical-align: bottom; 
    float: left; 
    margin-top: 30px; 
    margin-left: 15px;
    margin-right: 0;
    width:180px;
}